.el-checkbox {
  --el-checkbox-checked-bg-color: var(--color-primary-core) !important;
  --el-checkbox-checked-input-border-color: var(
    --color-primary-core
  ) !important;
  --el-checkbox-checked-text-color: var(--color-primary-core) !important;
  --el-checkbox-input-border-color-hover: var(--color-primary-6) !important;
}
