.s-radio {
  .el-radio__input.is-checked .el-radio__inner {
    background: var(--color-primary-core);
    border-color: var(--color-primary-core);
  }
  .el-radio__input.is-checked + .el-radio__label {
    color: var(--color-primary-core);
  }
}
